[Unit]
Description=Multi-Repo Git Auto Commit & Push
After=network.target

[Service]
ExecStart=/etc/xray/autocommit.sh
Restart=always
User=root
Environment=GIT_SSH_COMMAND=ssh

[Install]
WantedBy=multi-user.target

