[Unit]
Description=Telegram Bot Panel - Auto Start
After=network.target

[Service]
WorkingDirectory=/var/www/html/telegram_bot_panel
ExecStart=/usr/bin/python3 /var/www/html/Telegram-Bot-Panel/__main__.py
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

